{% extends 'base.html' %}
{% load staticfiles %}

{% load fields %}

{% block content %}

    <header class="intro-header" style="background-image: url( {% static 'img/home-bg.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>New Post</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>



    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			
			<form role="form" method='post'>

			    {% csrf_token %}
			    {% for field in form %}


			    	{% if field.errors %}
				    <div class="form-group has-error error has-feedback">
			        <label class="control-label" for="{{field.name}}">{{field.label}}:</label>

						{% for error in field.errors %}
			          <div class="controls">
			        	{{ field|empower:"form-control" }}
		        	    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
				        <span class="help-block">{{ error|escape }}</span>
				      </div>
					    {% endfor %}
					</div>
					{% else %}

					<div class="form-group">
					    <label for="{{field.name}}">{{field.label}}:</label>

			        	{{ field|empower:"form-control" }}
				    </div>
					{% endif %}

			    {% endfor %}
			    <input class="btn btn-default" type='submit' value='Submit' />
			</form>
			</div>

        </div>
    </div>

    <hr>

{% endblock %}
