{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

{% load social_share %}


    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url( {% static 'img/home-bg.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ post.title}}</h1>

                        <span class="meta"> Posted by 
					            {% if post.author_email %}
					            {{ post.author_email }} 
					            {% else %}
					            anonymous
					            {% endif %}
					            on  {{ post.created_at }}
			            </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					{{ post.body | linebreaks}}
				</div>
			</div>
		</div>

	</article>

	
	<!-- javascript:window.open('{% post_to_twitter object.title object %}', 'yourWindowName', 'width=500,height=300');" -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                    
<a href="{% post_to_twitter post.title post %}"title="Share on Twitter" target="_blank" class="btn-sm btn-twitter"><i class="fa fa-twitter"></i> Tweet</a>
                    </li>
                    <li>
                    <a href="{% post_to_facebook post %}" title="Share on Facebook" target="_blank" class="btn-sm btn-facebook"><i class="fa fa-facebook"></i> Share</a>
                      
                    </li>
                    <li>
                    <a href="{% post_to_gplus post %}" title="Share on Google+" target="_blank" class="btn-sm btn-googleplus"><i class="fa fa-google-plus"></i> + Share</a>
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr/>


    <div class="container">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="well">
 
    <h4>Leave a comment</h4>
 
    <form role="form" class="clearfix" method="post">
                    {% csrf_token %}

                {% for field in form.visible_fields %}

                    <div class="form-group">
                        <label for="{{field.name}}">{{field.label}}:</label>

                        {{ field}}
                    </div>
                {% endfor %}

        <div class="col-md-6 form-group">
            <label class="sr-only" for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
 
        <div class="col-md-6 form-group">
            <label class="sr-only" for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
 
        <div class="col-md-12 form-group">
            <label class="sr-only" for="email">Comment</label>
            <textarea class="form-control" id="comment" placeholder="Comment"></textarea>
        </div>
 
        <div class="col-md-12 form-group text-right">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
 
    </form>                   
</div>


    {% for comment in post.comments.all %}
        commentsadsad 
        {{comment}}
    {% endfor %}

    
<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" data-src="holder.js/64x64">
    </a>
    <div class="media-body">
    <h4 class="media-heading">John on 16 Sept 2015</h4>

    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              
    </div>
  </li>
    <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" data-src="holder.js/64x64">
    </a>
    <div class="media-body">
    <h4 class="media-heading">Jack on 16 Sept 2015</h4>
    
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              

    </div>
  </li>
</ul>

</div>
</div>



{% endblock %}
